html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 246, 238)
}

.body{
    background: linear-gradient(rgb(255, 209, 209), rgb(255, 246, 238)
    );

}
.main{
    background-color: rgb(238, 162, 162);
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.logo{
    font-size: 45px;
    margin-left: 8px;
    margin-right: 12px;
    margin-bottom: 22px;
}

.page{
    display:flex;
    gap: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
}

.hautdroit{
    display:flex;
    gap: 30px;
    align-items: flex-end;
    margin-right: 30px;

}

.body{
    display: flex;
    gap: 150px;
    justify-content: center;
    justify-items: center;
}

.image{
    margin-top: 100px; 
    margin-top: 100px;
    margin-right: 50px;
}

.ques{
    display: flex;
    width: 200px;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    left: 300px;
}

.question{
    width: 300px;
    height: 400px;
    background-color: rgb(241, 168, 168);
    border-radius: 25px;
    padding: 10px;
    margin-top: 50px;
}

.button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(161, 97, 144);
    align-content: center;
    margin: 20px;
    border-radius: 20px;
}
.ques2sup{
    display: flex;
    gap: 10px;
}
.question2{
    width: 750px;
    height: 200px;
    background-color: rgb(241, 168, 168);
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
   
}

.ques2tete{
    background: white;
    margin: 10px;
    padding: 1px;
    border-radius: 20px;
    padding-left: 10px;
}

.ques2rep{
    padding-left: 20px;

}

.ques2deco{
    background-color: rgb(241, 168, 168);
    height: 218px;
    width: 50px;
    margin-top: 32px;
}

.ques2deco>div{
    background-color: rgb(250, 232, 235);
    width: 15x;
    height: 15px;
    margin: 17px;
    border-radius: 500px;
}

.gif{
    position: absolute;
    top: 580px;
    left: 880px;
}

.barchat{
    padding: 5px;
    margin-top: 50px;
    margin-left: 22px;
    size: 50px; 
    height: 200px;
    width: 1280px;
    justify-items: center;
    justify-content: center;
    background-color: rgb(148, 102, 175);
    box-shadow: 15px 35px rgb(179, 173, 233) 
}
.titrechat{
    margin-top: 200px;
    font-family: fantasy;
    text-align: center;
    justify-content: center;
    justify-items: center;  
    border: solid 3px palevioletred;
    width: 600px;
    flex-direction: row;
    margin-left: 27%;
    background-color: rgb(244, 240, 255);
}

.chatlala{
    gap: 10px;
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: space-between;   
}
